node_modules
node_modules/**
release
release/**
dist
dist/**
.env*
.vercel
.vercel/**
*.AppImage
*.exe
*.png
*.log
repo
repo/**
backend_metadata.json
initial_institute_data.json
gas_outer.html
gas_usercode.html
dom.html
extracted_app.html
